<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819406032556-c2sekk1cabi7816gb03l84e84rhkad2q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819406032556-c2sekk1cabi7816gb03l84e84rhkad2q</string>
	<key>API_KEY</key>
	<string>AIzaSyBp4Mr-u2KVkF3Tu1UMXcCZ0bM3LReIeGs</string>
	<key>GCM_SENDER_ID</key>
	<string>819406032556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>clown.CasinoRouletteApp</string>
	<key>PROJECT_ID</key>
	<string>casino-app-ec7bd</string>
	<key>STORAGE_BUCKET</key>
	<string>casino-app-ec7bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819406032556:ios:a87cde3882eb3d30385909</string>
</dict>
</plist>